/*change none to block if you need things*/
:root{
    --remover: none !important;
    --background-mentioned: hsla(320,calc(var(--saturation-factor, 1)*60%),50%,0.1) !important;
    --background-mentioned-hover: hsla(350,calc(var(--saturation-factor, 1)*60%),54.1%,0.2) !important;
    --info-warning-foreground: hsl(350,calc(var(--saturation-factor, 1)*95%),80%) !important;
    --brand-experiment-05a: hsla(350,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.05) !important;
    --brand-experiment-30a: hsla(350,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.3) !important;
    --brand-experiment-200: hsl(320,calc(var(--saturation-factor, 1)*83.3%),92.9%) !important;
    --brand-experiment-500: #dd005c !important;
    --brand-experiment-560: #dd005c !important;
    --brand-experiment-600: #dd005c !important;
    --brand-experiment: #dd005c !important;
    --buttona: #fff !important;
    --buttonb: #000 !important;
    --buttonbb: #f5d1e0 !important;
    --focus-primary: #dd005c !important;
    --text-link: hsl(350,calc(var(--saturation-factor, 1)*100%),50%);
    --darky: rgb(20, 17, 19) !important;
    --colorisha: #fd9ce0 !important;
    --control-brand-foreground: var(--brand-experiment) !important;
    --elevation-low: unset !important;
    --border-size: 1px solid var(--background-modifier-accent) !important;
    --icons-color: hue-rotate(220deg) saturate(170%) !important;
}

.theme-light{
    
    --main-color: #f5eef2 !important;
    --background-modifier-active: rgba(185, 65, 93, 0.2) !important;
    --background-modifier-selected: rgba(218, 136, 155, 0.3) !important;
    --background-modifier-hover: rgba(219, 189, 196, 0.3) !important;
    --background-modifier-accent: #e9c1d1 !important;
    --light-adaptive-background: var(--main-color);
    --background-secondary: var(--main-color);
    --background-secondary-alt: var(--main-color);
    --background-primary: var(--main-color);
    --background-floating: var(--main-color);
    --background-tertiary: var(--main-color);
    --channeltextarea-background: #fffefe !important;
    --scrollbar-auto-thumb: #cfafbf !important;
    --scrollbar-auto-track: #e9d0de !important;
    --interactive-hover: rgb(0, 0, 0) !important;
    --channels-default: rgb(70, 70, 75);
    --text-muted: #5d6269 !important;

}

.theme-dark{

    --main-color: #3e2334 !important;
    --background-modifier-active: rgba(185, 65, 93, 0.5) !important;
    --background-modifier-selected: rgba(255, 78, 119, 0.6) !important;
    --background-modifier-hover: rgba(185, 65, 93, 0.3) !important;
    --background-modifier-accent: #794f59 !important;
    --light-adaptive-background: var(--main-color);
    --background-secondary: var(--main-color);
    --background-secondary-alt: var(--main-color);
    --background-primary: var(--main-color);
    --background-floating: var(--main-color);
    --background-tertiary: var(--main-color);
    --channeltextarea-background: #58344b !important;
    --scrollbar-auto-thumb: #70345a !important;
    --scrollbar-auto-track: #462c3c !important;
    --interactive-hover: #fff !important;
    --channels-default: rgb(201, 201, 201);
    --text-muted: #b0b5be !important;

}



/*Voicechannel controls/Video/Screen controls/Current game*/
.wrapper-24pKcD, .panel-24C3ux.activityPanel-28dQGo{
    display: var(--remover);
}
/*Things in options,*/
.info-1VyQPT,.socialLinks-3jqNFy{
    display: var(--remover);
}
/*Some other thing I removed*/
.icon-Zc-uZZ[fill="url(#uid_406)"]{
    display: var(--remover);
}
[href="https://support.discord.com"],[aria-label="Inbox"],[aria-label="Send a gift"],[aria-label="Open GIF picker"],[aria-label="Open sticker picker"]{
    display: var(--remover);
}
.quickSelectLabel-2r3iJ_{
    display: var(--remover);
}
.closeButton-3cJIM4{
    display: var(--remover);
}
.callContainer-36WRfH .gradientContainer-10lXLB {
    display: var(--remover);
}



/*borders*/
.notice-3bPHh-, .platform-win .sidebar-2K8pFh, .chat-3bRxxu, .wrapper-3NnKdC.guilds-1SWlCJ[aria-label="Servers sidebar"]{
    border-radius: 0px 0px 0px 0px !important;
}
.activityPanel-28dQGo, .container-3baos1{
    border-top: var(--border-size);
}
.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih{
    background-color: var(--background-secondary);
    border-right: var(--border-size);
}
.container-1r6BKw.themed-ANHk51{
    border-bottom: var(--border-size);
}
.searchBar-6Kv8R2{
    border-bottom: var(--border-size);
    margin-top: -1px;
    box-shadow: unset !important;
}
.chat-3bRxxu{
    border-left: var(--border-size);
    background-color: var(--background-secondary);
}
.peopleColumn-29fq28{
    background-color: var(--background-secondary);
    border-left: var(--border-size);
}
[class="typeWindows-1za-n7 withFrame-haYltI titleBar-AC4pGV horizontalReverse-3tRjY7 flex-1O1GKY directionRowReverse-m8IjIq justifyStart-2NDFzi alignStretch-DpGPf3"]{
    border-bottom: var(--border-size);
}
[class="privateChannelsHeaderContainer-3NB1K1 container-2ax-kl"]{
    margin-top: 5px;
    padding-top: 11px;
    margin-bottom: -3px;
    border-top: var(--border-size);
}
.radioBar-bMNUI-{
    border: var(--border-size);
    border-radius: 0 0 0 0 !important;
}
.contentRegion-3nDuYy{
    border-left: var(--border-size);
}
.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC{
    background-color: var(--background-primary);
    border-radius: 0 0 0 0 !important;
}
.css-x3hllb-control{
    border-radius: 0 0 0 0 !important;
}
.homeWrapperNormal-2KSUEa.homeWrapper-3-Wh5T{
    border-left: var(--border-size);
}
.container-1taM1r.clickable-25tGDB{
    border-bottom: var(--border-size);
    margin-top: -1px;
}
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active{
    border-bottom: var(--border-size);
}
.top-28JiJ- .item-PXvHYJ{
    border-bottom: 1px solid rgba(0,0,0,0) !important;
}
.wrapper-2qzCYF.normal-1oavYI.video--KPXCT{
    border-bottom: var(--border-size);
}
.scroller-1d5FgU.auto-Ge5KZx.scrollerBase-289Jih, .scroller-3Vjo4T.thin-1ybCId.scrollerBase-289Jih{
    border-left: var(--border-size);
}
.wrapper-2qzCYF.minimum-28Z35l{
    border-bottom: var(--border-size);
}
.qualitySettingsContainer-1gOtRJ{
    border: var(--border-size);
}
.connection-1fbD7X.marginBottom8-AtZOdT{
    border: var(--border-size);
}
.connectionHeader-2MDqhu{
    border-bottom: var(--border-size);
}
[class="scroller-3BxosC thin-1ybCId scrollerBase-289Jih"]{
    border: var(--border-size);
    border-radius: 5px;
}
.theme-dark .item-3T2z1R{
    border-color: var(--background-modifier-accent) !important;
}
.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g{
    border-color: var(--background-modifier-accent) !important;
    background-color: var(--background-primary) !important;
}
[id="powercord-updater"][class="powercord-toast"]{
    border: var(--border-size);
}
.contentWrapper-SvZHNd{
    border: var(--border-size);
}
.wrapper-1rqM3x.emojiPickerInExpressionPicker-3IzIcv{
    padding-top: 10px;
    border-top: var(--border-size) !important;
}



/*all other things*/
.tutorialContainer-11ICd5{
    padding-top: 3px;
}
.streamerModeEnabledBtn-2ZJ2eq{
    background-color: var(--brand-experiment) !important;
}
.circleIconButton-hZmpE8{
    color: var(--buttona) !important;
    background-color: var(--brand-experiment);
}
.circleIconButton-hZmpE8.selected-3mFF3I{
    color: var(--brand-experiment) !important;
    background-color: var(--buttona) !important;
}
.theme-dark .button-2DhvE9, .theme-light .button-2DhvE9{
    color: var(--text-normal) !important;
    border-color: var(--text-normal);
}
.theme-dark .button-2DhvE9:hover, .theme-light .button-2DhvE9:hover{
    color: var(--buttonb) !important;
}
.colorable-1bkp8v.primaryDark-3mSFDl, .colorable-1bkp8v.primaryDark-3mSFDl .centerIcon-2G6o-T{
    color: var(--buttonb);
}
.colorable-1bkp8v.primaryDark-3mSFDl{
    background: var(--buttona);
}
.colorable-1bkp8v.primaryDark-3mSFDl:hover{
    background: var(--buttonbb);
}
.callContainer-36WRfH{
    background: var(--main-color) !important;
}
.notice-3bPHh-.colorStreamerMode-2SJAUN{
    background-color: var(--background-primary) !important;
    color: var(--text-normal) !important;
    border-bottom: 1px solid var(--background-modifier-accent);
    box-shadow: unset !important;
}
.updateIconForeground-3tnNZn{
    fill:var(--brand-experiment) !important;
}
[class="mention wrapper-3WhCwL mention interactive"]{
    color: var(--brand-experiment) !important;
    background-color: var(--background-mentioned);
}
[class="mention wrapper-3WhCwL mention interactive"]:hover{
    color: var(--buttona) !important;
}
.theme-dark .button-2DhvE9, .theme-light .button-2DhvE9{
    color: var(--text-normal) !important;
    border-color: var(--text-normal);
}
.content-98HsJk, .container-2lgZY8{
    background-color: var(--background-primary);
}
.colorable-1bkp8v.primaryLight-1_NQ7Q{
    background: var(--buttona) !important;
}
[class="contextMenuNub-3yOOYo colorable-1bkp8v primaryDark-3mSFDl active-1QRrIS"]{
    background: var(--buttona) !important;
}
.item-2hkk8m{
    background: var(--brand-experiment) !important;
}
.lookFilled-1Gx00P.colorGreen-29iAKY{
    background-color: var(--brand-experiment) !important;
}
.wrapper-1BJsBx:hover .childWrapper-anI2G9, .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9{
    background-color: var(--brand-experiment);
}
.root-217Brm{
    fill:var(--light-adaptive-background)!important;
}
.theme-light .progress-1IcQ3A{
    background-color: var(--background-primary);
}
.container-3PXSwK{
    background: var(--text-normal) !important;
}
.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, .mediaBarProgress-1xaPtl:after, .mediaBarProgress-1xaPtl:before{
    background-color: var(--buttona)!important;
}
[class="pro-1T8RK7 base-1x0h_U size12-3cLvbJ"]{
    color: var(--colorisha);
}
[class="item-3HknzM item-PXvHYJ themed-OHr7kt"][aria-label="Add Friend"]{
    background-color: var(--brand-experiment-560) !important;
    color: var(--buttona) !important;
}
.scrollableContainer-2NUZem.webkit-HjD9Er{
    background-color: var(--channeltextarea-background) !important;
}
[class="scroller-3gAZLs videoGrid-1khsrF thin-1ybCId scrollerBase-289Jih fade-2kXiP2"]{
    background-color: var(--background-primary) !important;
}
.theme-dark .footer-2gL1pp{
    background-color: var(--background-primary) !important;
}
.thin-1ybCId, .thin-1ybCId.fade-2kXiP2:hover, .thin-1ybCId.scrolling-1Cdwk-{
    scrollbar-color: var(--scrollbar-auto-thumb) !important;
}
.border-Jn5IOt.speaking-B2MXPi{
    box-shadow: inset 0 0 0 1px var(--brand-experiment),inset 0 0 0 2px var(--background-floating) !important;
}
.avatarSpeaking-2c8-9i{
    box-shadow: inset 0 0 0 1px var(--brand-experiment),inset 0 0 0 2px var(--background-secondary) !important;
}
.border-3dQmSY.speaking-WDn8Wm{
    box-shadow: inset 0 0 0 1px var(--brand-experiment),inset 0 0 0 2px var(--background-secondary) !important;
}
.navigationBar-2JJXBp{
    background-color: var(--brand-experiment) !important;
}
.powercord-toast{
    background-color: var(--background-primary);
}
.powercord-toast .header{
    background-color: var(--background-primary) !important;
    box-shadow: unset !important;
    border-bottom: 1px solid var(--background-modifier-accent);
}
.powercord-toast .contents .inner{
    background-color: var(--background-primary) !important;
    border: 1px solid var(--background-modifier-accent)
}
.lookOutlined-3sRXeN.colorGreen-29iAKY, .lookFilled-1Gx00P.colorBrand-3pXr91{
    color: var(--brand-experiment) !important;
    background-color: unset !important;
    border: 1px solid var(--brand-experiment) !important;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY:hover, .lookFilled-1Gx00P.colorBrand-3pXr91:hover{
    background-color: var(--brand-experiment) !important;
    color: var(--buttona) !important;
}
.scroller-1d5FgU.auto-Ge5KZx.scrollerBase-289Jih{
    background: var(--background-primary) !important;
}
.controlButton-2MhVEL.centerButton-3CaNcJ.colorable-1bkp8v.green-plH-Mj.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN{
    background: var(--brand-experiment) !important;
}
.iconContainer-27DuH-{
    background-color: var(--brand-experiment) !important;
}
.theme-dark .root-1gCeng{
    background-color: var(--background-primary) !important;
    border: 1px solid var(--background-modifier-accent) !important;
}
[data-list-item-id="private-channels-uid_2343___nitro"]{
    padding-bottom: 4px !important;
}
.iconBadge-1Prgh2.participating-1CYXS2{
    background-color: var(--brand-experiment) !important;
}
.iconContainer-3GkGRf{
    filter: var(--icons-color);
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover{
    background-color:hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    color: var(--buttona);
}
.peopleColumn-1wMU14{
    background-color: var(--background-primary) !important;
}
